// $body-bg: #2c3e50;
$primary: #2ecc71;
$primary-dark: #27ae60;
$highlight: #ecf0f1;
$search-bar-bg: #fff;
$blood-group-color: #e74c3c;
$font-dim: #7f8c8d;


// Global Styling
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}


header {

    background-color: $primary;
    height: 500px;
    width: 100%;
    clip-path: polygon(0 0, 300% 0, 0 100%, 0 70%);
    
    position: absolute;
    z-index: 0;

    overflow: hidden;


    #topNavBar {
        padding: 0px 0px;
        
        #navBarLinks {

            list-style: none;
            width: 100%;

            .navBarLink {

                display: inline-block;
                width: fit-content;
                padding: 15px;
                color: $highlight;
                font-size: 0.78em;
                font-family: "Open Sans", sans-serif;

                &:hover {
                    color: lighten($highlight, 10%);
                }

                #logoText {
                    font-family: "Open Sans", sans-serif;
                    font-size: 2em;
                    font-weight: lighter;
                }

            }

        }
    
    }

    #medicalReportImg {

        max-width: 500px;
        width: 80%;
        height: auto;
        position: absolute;
        margin: 15% 0 0 5%;

    }

}

#searchBarSection {
    
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    // z-index: 1;
    position: relative;
    top: 350px;

    #searchBar {
        
        width: 65%;
        max-width: 800px;
        padding: 20px;
        border: 0.5px solid darken($highlight, 5%);
        border-radius: 10px;
        font-size: 20px;
        // box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.3);
        box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, 0.2);

        transition: 0.2s ease-in-out;
        background-color: $search-bar-bg;
        font-family: "Open Sans", sans-serif;
        caret-color: $primary;

        &:focus {
            outline: none;
            // box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.3);

        }

    }

    #donorsList {

        list-style: none;
        width: 100%;
        max-width: 800px;
        text-align: center;
        padding-top: 20px;

        .donorCardContainer {

            padding: 5px 0px;
            cursor: default;
            
            .donorCard {
                background-color: $search-bar-bg;
                // min-width: 350px;
                width: 68%;
                margin: 0 auto;
                border-radius: 5px;
                box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.3);
                border: solid 0.5px darken($search-bar-bg, 10%);
                padding: 15px;


                .donorDetails {

                    display: grid;
                    grid-template-columns: 40% 35% auto auto;
                    grid-gap: 10px;
                    padding: 15px;

                    .donorName {
                        text-align: left;
                        font-family: "Montserrat", sans-serif;
                        font-size: 16px;
                        color: $font-dim;
                    }

                    .donorPhoneNum {
                        font-family: "Open Sans", sans-serif;
                        font-size: 14px;
                        color: 
                        $font-dim;
                        text-align: left;
                    }

                    .donorCity {
                        font-family: "Open Sans", sans-serif;
                        font-size: 14px;
                        text-align: right;
                    }

                    .donorBloodGroup {
                        font-family: "Montserrat", sans-serif;
                        font-weight: bolder;
                        text-align: right;
                        color: $blood-group-color;
                        font-size: 16px;

                    }

                }

            }

        }

    }

}


@media only screen and (max-width: 500px) {


    


    .donorCardContainer {
        
        .donorCard {

            padding: 10px !important;

            .donorDetails {

                grid-template-columns: 35% 35% auto auto !important;
                grid-gap: 0px !important;
                padding: 5px !important;

                .donorName {
                    font-size: 13px !important;
                    color: $font-dim;
                }

                .donorPhoneNum {
                    font-size: 12px !important;
                }

                .donorCity {
                    font-size: 13px !important;
                    text-align: left !important;
                }

                .donorBloodGroup {
                    font-size: 13px !important;
                }

            }

        }

    }

}